<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
    </head>
    <body>
        <h1>All products</h1>
        <br><br>
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <span><b>ID : </b><%= product.value._id %></span><br>
                    <span><b>Name : </b><%= product.value.name %></span><br>
                    <span><b>Brand : </b><%= product.value.brand %></span><br>
                    <span><b>Description : </b><%= product.value.description %></span><br>
                    <span><b>Price : </b><%= product.value.price %></span><br>
                    <span><form action="/products/delete" method="POST">
                        <span><input type="hidden" name="name" value="<%= product.value.name %>"></span>
                        <span><button type="submit">Delete</button></span>
                    </form></span>
                    <a href="/products/edit?_id=<%= product.value._id %>">Edit</a>
                </li>
            <% }); %>
        </ul>

        <a href="/products/add">Add product</a>&nbsp;&nbsp;<a href="/products/search">Search product</a>
    </body>
</html>