<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
    </head>
    <body>
        <h2>Result</h2>
        <br><br>
        <p>
            <span><b>ID :</b><%= product.id %></span><br>
            <span><b>Name :</b><%= product.value.name %></span><br>
            <span><b>Brand :</b><%= product.value.brand %></span><br>
            <span><b>Description :</b><%= product.value.description %></span><br>
            <span><b>Price :</b><%= product.value.price %></span><br>
        </p>

        <span><form action="/products/delete" method="POST">
            <span><input type="hidden" name="name" value="<%= product.value.name %>"></span>
            <span><button type="submit">Delete</button></span>
        </form></span>
        <a href="/products/edit?_id=<%= product.value._id %>">Edit</a>
    </body>
</html>